@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap");

/* Global */
:root {
  --clr-red: #f63854;
  --clr-white-1: #f9f9f9;
  --clr-gray-1: #abacae;
  --clr-gray: #585b60;
  --clr-black: #222222;
  --clr-black-1: #333333;
}

body {
  color: var(--clr-gray-1);
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-black);
  font-weight: bold;
  font-family: "Arvo", "Open Sans", sans-serif;
}

a {
  color: var(--clr-red);
  transition: all 0.3s;
}

a:hover {
  color: var(--clr-red);
  opacity: 0.8;
  text-decoration: none;
}

.btn,
.btn.btn-dashed:hover {
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: var(--clr-red);
  border-radius: 30px;
  border-color: var(--clr-red);
  border-style: dotted;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.btn:hover,
.btn-dashed {
  color: var(--clr-red);
  background: transparent;
  border-color: var(--clr-red);
}

.section-padding {
  padding: 80px 0;
}

.section-header {
  padding-bottom: 30px;
}

.section-header .section-title {
  text-align: center;
  position: relative;
  padding-bottom: 8px;
}

.section-header .section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 1px;
  background-color: var(--clr-red);
  width: 60px;
}

.bg-gray {
  background-color: var(--clr-white-1);
}

/* Header */
.header {
  transition: all 0.3s;
}

.header.sticky {
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.header .navbar-area {
  position: relative;
}

.header .navbar {
  padding: 20px 0;
}

.header .navbar .navbar-brand img {
  max-width: 150px;
}

.header .navbar .navbar-nav .nav-item {
  margin-left: 40px;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: var(--clr-gray);
  transition: all 0.3s;
  padding: 0;
  position: relative;
}

.header .navbar .navbar-nav .nav-item.active .nav-link,
.header .navbar .navbar-nav .nav-item:hover .nav-link {
  color: var(--clr-red);
}

.header .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
  transition: all 0.3s;
  background: var(--clr-red);
}

.header .navbar .navbar-nav .nav-item:hover .nav-link::after {
  width: 100%;
}

/* Hero Section */
#hero-area {
  position: relative;
  overflow: hidden;
  min-height: 650px;
  padding: 200px 0 80px;
  background-image: url("../img/hero-area.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-area .content h2 {
  font-size: 42px;
  margin-bottom: 10px;
  line-height: 60px;
}

#hero-area .content p {
  font-size: 14px;
  margin-bottom: 10px;
}

#hero-area .content .header-button {
  margin-top: 20px;
}

#hero-area .content .header-button .btn:first-child {
  margin-right: 10px;
}

/* Services */
#services .services-item {
  text-align: center;
  margin: 15px 0;
  padding: 20px;
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
  border-radius: 4px;
}

#services .services-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#services .services-item .icon {
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
}

#services .services-item:hover .icon {
  background-color: var(--clr-red);
  border-color: var(--clr-red);
}

#services .services-item .icon .item-icon {
  color: var(--clr-red);
  width: 30px;
  height: 30px;
  margin: auto;
  transition: all 0.3s;
}

#services .services-item:hover .icon .item-icon {
  color: #fff !important;
}

#services .services-item .services-content h3 {
  margin: 20px 0 15px;
}

#services .services-item .services-content h3 a {
  color: #585b60;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#services .services-item .services-content h3:hover a {
  color: var(--clr-red);
}

#services .services-item .services-content p {
  font-size: 14px;
  margin-bottom: 0;
}

/* About */
.about-area-section .content {
  margin-top: 15px;
}

.about-area-section .content p {
  font-size: 14px;
  line-height: 25px;
}

/* Features */
#features .box-item {
  padding: 15px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s;
  line-height: 22px;
  box-shadow: 0 2px 18px 0 rgba(158, 136, 136, 0.3);
  display: flex;
}

#features .box-item:hover {
  box-shadow: 0px 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#features .box-item:hover .text h4 {
  color: var(--clr-red);
}

#features .box-item .icon {
  display: flex;
  order: 2;
  width: 60px;
  height: 60px;
  margin: 0 12px;
}

#features .box-item .icon .item-icon {
  margin: auto;
  font-size: 28px;
  color: var(--clr-red);
}

#features .box-item .text {
  text-align: right;
  flex: 1;
}

#features .box-item .text h4 {
  line-height: 22px;
  transition: all 0.3s;
  font-size: 18px;
}

#features .box-item .text p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0;
}

#features .content-right .box-item .text {
  text-align: left;
  order: 2;
}

#features .show-box {
  margin-top: 50px;
}

/* Team Section */
#team .team-item {
  margin: 15px 0;
  display: flex;
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
}

#team .team-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#team .team-item .team-img {
  width: 200px;
}

#team .team-item .team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#team .team-item .content {
  padding: 15px 30px;
  width: calc(100% - 200px);
}

#team .team-item .content p {
  font-size: 14px;
  margin-bottom: 5px;
}

#team .team-item .content .info-text {
  margin-bottom: 10px;
}

#team .team-item .content .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#team .team-item .content .info-text h3 a {
  color: var(--clr-black-1);
}

#team .team-item .content .info-text p {
  color: var(--clr-gray);
  opacity: 0.8;
  margin-bottom: 10px;
}

#team .team-item .content .social-icons {
  list-style: none;
  padding: 0;
  padding-top: 11px;
  transition: all 0.3s;
  margin-bottom: 0;
}

#team .team-item .content .social-icons li {
  display: inline-block;
  margin-right: 10px;
}

#team .team-item .content .social-icons li a {
  font-size: 16px;
}

#team .team-item .content .social-icons li:nth-child(1) a {
  color: #1260a2;
}

#team .team-item .content .social-icons li:nth-child(2) a {
  color: #007bff;
}

#team .team-item .content .social-icons li:nth-child(3) a {
  color: #f63854;
}

/* Pricing */
#pricing .table {
  text-align: center;
  margin-top: 15px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
}

#pricing .table:hover,
#pricing .table.active {
  box-shadow: 0px 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#pricing .table:hover .icon-box,
#pricing .table.active .icon-box {
  color: var(--clr-white-1);
  background-color: var(--clr-red);
}

#pricing .table .icon-box {
  display: flex;
  width: 80px;
  height: 80px;
  color: var(--clr-red);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #ebedef;
  transition: all 0.3s;
}

#pricing .table .pricing-header p {
  color: var(--clr-red);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

#pricing .table .pricing-header p span {
  font-size: 14px;
  font-weight: normal;
  color: #ebedef;
}

#pricing .table .icon-box .icon-item {
  margin: auto;
  font-size: 30px;
}

#pricing .table .title {
  padding-top: 20px;
  margin-bottom: 8px;
}

#pricing .table .title h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
}

#pricing .table .description {
  padding: 0;
  list-style: none;
}

#pricing .table .description li {
  color: var(--clr-gray-1);
  font-size: 14px;
  padding: 4px 0;
}

/* Testimonial */
#testimonial {
  background-color: var(--clr-red);
}

#testimonial .testimonial-item {
  text-align: center;
  background-color: white;
  padding: 30px 20px;
  border-radius: 4px;
}

#testimonial .testimonial-item .img-thumb {
  margin: 15px;
}

#testimonial .testimonial-item .img-thumb img {
  padding: 7px;
  width: 88px;
  height: 88px;
  margin: auto;
  border-radius: 50%;
}

#testimonial .testimonial-item .info h2 {
  font-size: 16px;
  padding: 2px;
  text-transform: uppercase;
}

#testimonial .testimonial-item .info h2 a {
  color: var(--clr-black-1);
}

#testimonial .testimonial-item .info h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

#testimonial .testimonial-item .info h3 a {
  color: var(--clr-black-1);
}

#testimonial .testimonial-item p {
  line-height: 25px;
  color: var(--clr-black-1);
  font-size: 14px;
  margin-bottom: 0;
}

#testimonial .owl-carousel .owl-dots {
  margin-top: 20px;
}

#testimonial .owl-carousel .owl-dots .owl-dot {
  outline: none;
}

#testimonial .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  background-color: white;
  border: 2px solid #fff;
}

#testimonial .owl-carousel .owl-dots .owl-dot.active span {
  background: transparent;
}

/* CTA */
#cta .cta-text h4 {
  font-size: 34px;
}

#cta .cta-text p {
  font-size: 14px;
}

/* Contact Section */
#contact .contact-block .form-control {
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #f1f1f1;
}

#contact .contact-block .form-control:focus,
#contact .contact-block .form-control:focus {
  outline: none !important;
  border-color: var(--clr-red);
  box-shadow: none;
}

/* Footer */
.footer-area {
  color: var(--clr-black-1);
  padding: 150px 0 0;
}

.footer-area p {
  font-size: 14px;
}

.footer-area .footer-link,
.footer-area .address {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-area .footer-logo {
  width: 200px;
}

.footer-area a {
  font-size: 14px;
  color: var(--clr-gray);
}

.footer-area a:hover {
  color: var(--clr-red);
}

.footer-area .footer-title {
  font-size: 18px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.footer-area .footer-link li {
  margin-bottom: 10px;
}

.footer-area .address li {
  margin-bottom: 20px;
}

.footer-area .address li a {
  display: flex;
  gap: 10px;
}

.footer-area .address li a .address-icon {
  width: 32px;
  height: 32px;
  padding: 5px;
}

.footer-area .social-icon a {
  color: #272727;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s;
}

.footer-area .social-icon a:hover {
  color: white;
}

.footer-area .social-icon a.facebook:hover {
  background-color: #007bff;
}

.footer-area .social-icon a.twitter:hover {
  background-color: #4a9cec;
}

.footer-area .social-icon a.instagram:hover {
  background-color: #d6274d;
}

.footer-area .social-icon a.linkedin:hover {
  background-color: #1260a2;
}

/* Copyright */
#copyright .copyright-content {
  color: var(--clr-black-1);
  width: 100%;
  margin-top: 45px;
  padding: 15px;
  border-top: 1px solid var(--clr-gray-1);
  text-align: center;
}

#copyright p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 42px;
}
